.card{
    width:19rem;
    height:auto;
    margin-bottom:20px;
}
.cardImage{
    width:100%;
    height:10rem;
    border-radius:5px;
}
.card i{
    color: orange;
}
.card p{
    font-size:14px;
    color:gray;
}