.container{
    width:20%;
    height:90vh;
    border-right:1px solid gray;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-y:scroll;
    padding:1px 0 1px  13px !important;
}
.wrapper{
    max-height:47%;
    overflow-y:scroll;
    overflow-x:hidden;
    width: 100%;
    min-height:18vw;
}
.wrapper  .searchInput{
    padding:2px 4px !important;

}
.wrapper .form-control{
    background-color: red !important;
}
.wrapperBox{
    display: flex;
    gap:10px;
    margin-bottom:10px;
}
.rangeInput{
    width: 14rem;
    position: relative
}
.wrapper .searchInput{
    padding: 0 5px;
    height: 20px;
    width: 95%;
    font-size: 13px;
}
.container h5{
    font-size:15px;
}
