@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
  border:none;
  outline: none;
  font-family: 'Roboto', sans-serif !important;
}
.cart-button{
  position:relative;
}
.cart-button::after{
  position:absolute;
  content:attr(data-cart-length);
  top:-4px;
  right:-5px;
  width:15px;
  height:15px;
  font-size:11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:8px;
  background-color:red;
}


::-webkit-scrollbar{
  width: 4px;
  height:3px;
}
::-webkit-scrollbar-thumb{
  border-radius:2px;
  width: 2px ;
  background-color:rgb(187, 187, 187)
}

